.cardList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: solid $green;
  border-radius: 20px;
  box-shadow: 5px 5px 10px $blue;
  list-style: none;
  margin: 15px;
  height: 380px;
  width: 270px;
  transition: all ease 0.5s;
  &:hover {
    border: solid $blue 3px;
    background-color: $green;
    box-shadow: 5px 5px 10px $green;
    transform: translate(-3px, -3px);
  }
  &__complete {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
  }
}
