.card {
  &__image {
    width: 100%;
    border-radius: 20px 20px 0px 0;
    border-bottom: 3px dashed $white;
  }
  &__text {
    text-align: center;
    color: $white;
    text-shadow: 1px 1px 2px $black;
    text-transform: uppercase;
  }
  &__name {
    font-size: 1.7rem;
    font-family: $font_title;
    padding: 7px;
  }
  &__specie {
    font-size: 1.4rem;
  }
}
