.form {
  display: flex;
  flex-direction: column;
  background-color: $green;
  border-radius: 0 0 20px 20px;
  padding: 10px 15px 15px 15px;
  box-shadow: 5px 5px 10px $blue;

  @media all and (min-width: 800px) {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.filter {
  background: transparent;
  border: none;
  font-family: $font_text;
  font-size: 1.5rem;
  border: 3px dashed $white;
  border-radius: 15px;
  outline: none;
  color: $grey;
  margin: 5px 0;
  text-shadow: 1px 1px 2px $white;

  &:focus {
    background-color: $blue;
    color: $white;
  }

  @media all and (min-width: 800px) {
    margin: 0px;
    font-size: 30px;
  }
  &__name {
    @media all and (min-width: 800px) {
      width: 65vw;
    }
  }
}
