.header {
  &__section {
    width: 100vw;
    height: 40vh;
    padding: 15px;
    border-bottom: solid #90fe4d 5px;
    background-color: black;

    @media all and (min-width: 800px) {
      height: 45vh;
      background-image: url("../../images/background_header.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;
      overflow: hidden;
    }
  }

  &__title {
    max-width: 95vw;

    @media all and (min-width: 800px) {
      float: left;
      width: 50vw;
      max-width: 700px;
    }
  }
}
