.main__section {
  background-image: url("../../images/background_main.jpg");
  background-size: cover;
  background-position: center;
  min-height: 70vh;
  @media all and (min-width: 800px) {
    min-height: 55vh;
  }
}
