.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $background_modal;
  max-width: 100vw;
  &__title {
    font-size: 30px;
    color: $white;
    text-shadow: 1px 1px 2px $black;
    text-transform: uppercase;
  }
}

.modal.modal__hidden {
  display: none;
}

.modal__dialog {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
}

.modal__content {
  text-align: center;
  padding: 1rem;
  border-radius: 20px;
  border: solid 4px $grey;
  background: linear-gradient($blue, $green);
  box-shadow: 5px 5px 10px $grey;
  max-width: 90vw;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 3px dashed $white;
  text-shadow: 1px 1px 2px $white;
}

.modal__close {
  margin-left: 2rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid $grey;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease 0.5s;
  &:hover {
    background-color: $blue;
  }
}

.modal__footer {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #ccc;
}
