$font_title: "Nanum Brush Script";
$font_text: "Nanum Pen Script";
$blue: #00b0c7;
$green: #62be28;
$white: #ffffff;
$black: hsl(0, 0%, 0%);
$grey: #565656;
$background_modal: hsla(187, 94%, 27%, 0.541);
$green2: rgb(86, 199, 16);

//#90fe4d;
